<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<title>ユーザー情報検索</title>
<link href="/css/list.css" rel="stylesheet"></link>
<meta charset="utf-8" />
</head>
<body>
    <h1>ユーザー情報検索</h1>
    <!-- <form th:action="@{/user/id_search}" th:object="${userSearchRequest}"
        th:method="post">
        <div>
            ID：<input type="text" th:field="*{area}" size="40" />
        </div>
        <br />
        <div>
            <input type="submit" value="検索" style="width: 100px;" />
        </div>
        <br />
    </form> -->
    <!-- <div th:if="${events}">
        <table th:object="${events}">
            <tr>
                <th class="cell_title">開催エリア</th>
                <td th:text="*{event_area}"></td>
            </tr>
            <tr>
                <th class="cell_title">イベント名</th>
                <td th:text="*{event_name}"></td>
            </tr>
            <tr>
                <th class="cell_title">開催日</th>
                <td th:text="*{event_date}"></td>
            </tr>
        </table>
    </div> -->
    <li th:each="event:${events}" th:text="${event.event_area} + ${event.event_name} + ${event.event_date}"></li>
</body>
</html>